.bor{
    border: 1px solid red;
}
#comment-profile{
   /* width: 20%; */
   /* height: 1vh; */
   /* height: 10px; */
}
#responder{
    font-size: small;
    font-weight: bold;
}
#comment-card{
    border-radius: 0px 10px 10px 10px;
}
.time{
    font-size: small;
}
.comment-btn{
    background-color: white;
    border: none;
    font-size: small;

}
