#loginbtn{
    background-color:#2d3092 ;
}
#loginbtn:hover{
    transition: 0.5s;
    background-color: white;
    color:#2d3092 ;
}
#footer{
    background-color: skyblue ;
}
#social{
    margin: 0 auto;
}
#footer-col{
    margin: 0 auto;
}