.mainNav .navbar-nav .nav-link {
    color: #2D3092; /* Set the color for all Nav links */
    font-size: x-large;
}

/* Optional: Add styles for the toggler icon */
.mainNav .navbar-toggler-icon {
    color: #2D3092;
}
