.offcanvas {
  max-width: 20%;
  /* Set a maximum width for the Offcanvas, adjust as needed */
}

#linkCourse:hover {
  color: #2d3092 !important;
}

#burgerBtn {
  border-radius: 0 12px 12px 0;
  background: #2d3092;
  display: flex;
  justify-content: center;
}

.blueColor {
  color: #2d3092 !important;

}

#burgerBtn:hover {
  background: white;
  color: #2d3092;
}

@media (max-width: 480px) {

  .offcanvas {
    max-width: 50%;
    /* Set a maximum width for the Offcanvas, adjust as needed */
  }
}