#tutring-title{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(to right, #2D3092 , #BCDCFC);
    border-radius: 0px 30px;
}
.bor{
    border : 1px solid red;
}
.tutoring-subtitle{
    color: white;
}

#img-strip{
width: 100%;
}
#post-btn{
    border: 1px solid white;
    color: white;
    transition: .5s;
    width: 25;
}
#post-btn:hover{

    border: 1px solid #2D3092;
    color:rgb(45, 48, 146) ;

}
@media (max-width:450px){
    #tutring-title{
        height: 90vh;
    }
    #img-strip{
        margin-bottom: 2vh;
    }
    #post-btn{
        width: 100%;
    }
}
    