.card-border{
    border: 1px solid #2D3092;
}
.g{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bold{
    font-weight: bold;
    color: #2D3092;
}
.message{
    font-size: medium;
    font-style: italic;
}
#tutoring-card:hover{
    transition: 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
